@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script type="text/javascript">

        var connection = new signalR.HubConnectionBuilder().withUrl("/SignalRTestHub").build();

        connection.start().then(() => {

            console.log(connection.state);
        }).catch((err) => {
            console.log(err);
        });

        connection.on("SetCountTeam", (value) => {
            $("#countTeam").html(`<div class="alert alert-success">${value}</div>`)
        })

    </script>

}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <form asp-action="Index" asp-controller="Home" method="post">
                    <div class="form-control">
                        <input type="number" name="team" id="teamCount" value="0" />
                    </div>
                    <button class="btn btn-danger" id="btnGonder">Gönder</button>
                </form>
            </div>
            <div class="col-md-4">
                <div id="countTeam">

                </div>
            </div>
        </div>
    </div>
</div>